.account-wrapper {
  margin-top: 50px;
}
.account-wrapper .logo-wrapper {
  padding-bottom: 41px;
  text-align: center;
}
.account-wrapper .logo-wrapper > img {
  height: 50px;
}
.account-wrapper .panel {
  border: none;
  margin-bottom: 32px;
}
.account-wrapper .panel input {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.account-wrapper .panel .input-group {
  border-top: 1px solid #eeeeee;
}
.account-wrapper .panel .input-group:first-child {
  border-top: 0;
}
.account-wrapper .panel .input-group-addon {
  border: none;
  background-color: #ffffff;
}
.account-wrapper .panel .input-group-addon > .fa {
  width: 20px;
  color: #aaaaaa;
}
.account-wrapper .panel .input-group-addon:after {
  content: "";
  position: absolute;
  height: 50%;
  border-left: 1px #eeeeee solid;
  top: 25%;
  margin-left: 9px;
}
.account-wrapper .panel .form-group {
  margin-bottom: 0;
}
.account-wrapper .account-links {
  margin-top: 14px;
}
.account-wrapper .account-links .checkbox {
  margin: 0;
}
.account-wrapper .account-links .help {
  line-height: 22px;
}
.account-wrapper span.or {
  position: relative;
  display: block;
  margin: 20px 10px;
  text-align: center;
  font-size: 12px;
  color: #eeeeee;
}
.account-wrapper span.or:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #aaaaaa;
}
.account-wrapper span.or:after {
  content: attr(data-text);
  position: relative;
  padding: 5px 20px;
  color: #aaaaaa;
  background-color: #f1f1f1;
}
.account-wrapper .footer-link {
  text-align: center;
  padding: 10px 0;
  display: block;
  width: 100%;
}
.error-wrapper {
  text-align: center;
}
.error-wrapper h1,
.error-wrapper h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
.error-wrapper h1 {
  font-size: 180px;
  margin-bottom: 23px;
  color: #0071ce;
  -webkit-text-shadow: #dfdfdf 0px 0px, #e0e0e0 1px 1px, #e0e0e0 2px 2px, #e0e0e0 3px 3px, #e1e1e1 4px 4px, #e1e1e1 5px 5px, #e1e1e1 6px 6px, #e2e2e2 7px 7px, #e2e2e2 8px 8px, #e2e2e2 9px 9px, #e3e3e3 10px 10px, #e3e3e3 11px 11px, #e4e4e4 12px 12px, #e4e4e4 13px 13px, #e4e4e4 14px 14px, #e5e5e5 15px 15px, #e5e5e5 16px 16px, #e5e5e5 17px 17px, #e6e6e6 18px 18px, #e6e6e6 19px 19px, #e6e6e6 20px 20px, #e7e7e7 21px 21px, #e7e7e7 22px 22px, #e8e8e8 23px 23px, #e8e8e8 24px 24px, #e8e8e8 25px 25px, #e9e9e9 26px 26px, #e9e9e9 27px 27px, #e9e9e9 28px 28px, #eaeaea 29px 29px, #eaeaea 30px 30px, #eaeaea 31px 31px, #ebebeb 32px 32px, #ebebeb 33px 33px, #ececec 34px 34px, #ececec 35px 35px, #ececec 36px 36px, #ededed 37px 37px, #ededed 38px 38px, #ededed 39px 39px, #eeeeee 40px 40px, #eeeeee 41px 41px, #eeeeee 42px 42px, #efefef 43px 43px, #efefef 44px 44px, #f0f0f0 45px 45px, #f0f0f0 46px 46px, #f0f0f0 47px 47px, #f1f1f1 48px 48px, #f1f1f1 49px 49px;
  text-shadow: #dfdfdf 0px 0px, #e0e0e0 1px 1px, #e0e0e0 2px 2px, #e0e0e0 3px 3px, #e1e1e1 4px 4px, #e1e1e1 5px 5px, #e1e1e1 6px 6px, #e2e2e2 7px 7px, #e2e2e2 8px 8px, #e2e2e2 9px 9px, #e3e3e3 10px 10px, #e3e3e3 11px 11px, #e4e4e4 12px 12px, #e4e4e4 13px 13px, #e4e4e4 14px 14px, #e5e5e5 15px 15px, #e5e5e5 16px 16px, #e5e5e5 17px 17px, #e6e6e6 18px 18px, #e6e6e6 19px 19px, #e6e6e6 20px 20px, #e7e7e7 21px 21px, #e7e7e7 22px 22px, #e8e8e8 23px 23px, #e8e8e8 24px 24px, #e8e8e8 25px 25px, #e9e9e9 26px 26px, #e9e9e9 27px 27px, #e9e9e9 28px 28px, #eaeaea 29px 29px, #eaeaea 30px 30px, #eaeaea 31px 31px, #ebebeb 32px 32px, #ebebeb 33px 33px, #ececec 34px 34px, #ececec 35px 35px, #ececec 36px 36px, #ededed 37px 37px, #ededed 38px 38px, #ededed 39px 39px, #eeeeee 40px 40px, #eeeeee 41px 41px, #eeeeee 42px 42px, #efefef 43px 43px, #efefef 44px 44px, #f0f0f0 45px 45px, #f0f0f0 46px 46px, #f0f0f0 47px 47px, #f1f1f1 48px 48px, #f1f1f1 49px 49px;
}
.error-wrapper h2 {
  font-size: 32px;
  margin-bottom: 32px;
}
.error-wrapper .footer-badge {
  margin-top: 70px;
  padding-bottom: 14px;
}
.error-wrapper .footer-badge > img {
  height: 41px;
}
.error-server .error-wrapper h1 {
  color: #d9534f;
}
