.hammer-scrollbar {
  display: none;
  position: absolute;
  background-color: #000000;
  opacity: 0.32;
  z-index: 1000;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.hammer-scrollbar.vertical {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  margin: 0 2px;
}
.hammer-scrollbar.vertical.hammer-scroll-inverse {
  left: 0;
  right: inherit;
}
.hammer-scrollbar.horizontal {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
.hammer-scrollbar.horizontal.hammer-scroll-inverse {
  top: 0;
  bottom: inherit;
}
.hammer-scrollbar.hammer-scroll-active {
  display: block;
}
