//
// Forms
// --------------------------------------------------

// Input
// --------------------------------------------------

.input-lg {
    border-radius: @input-border-radius-large;
}

.input-sm {
    border-radius: @input-border-radius-small;
}

.form-horizontal {
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
        padding-bottom: (@padding-base-vertical + 1); // Default padding plus a border
    }
}


// Checkbox / Radio
// --------------------------------------------------

label {
    &.form-control-fa {
        display: inline-block;
        margin: 0 0 0 -20px;
        line-height: 2 - @line-height-base;

        &.radio-inline,
        &.checkbox-inline {
            + .form-control-fa.radio-inline,
            + .form-control-fa.checkbox-inline {
                margin-left: 0;
            }
        }

        > input[type="checkbox"],
        > input[type="radio"] {
            opacity: 0;
            position: relative;
            z-index: -1;

            + .form-control-fa-style {
                display: inline-block;
                margin: 0;
                width: @input-radio-checkbox-size;
                height: @input-radio-checkbox-size;
                background-color: @input-bg;
                border: 1px solid @input-border;
                border-radius: @input-border-radius;
                .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
                .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

                &:hover {
                    cursor: default;
                    border-color: @input-border-focus;
                }

                + span {
                    line-height: @input-radio-checkbox-size;
                    margin-left: 10px;
                    vertical-align: top;
                }
            }

            &:checked  {
                + .form-control-fa-style {
                    font-size: 15px;
                    color: @input-checked-color;
                    background-color: @input-checked-bg;
                    border-color:  @input-checked-bg;

                    &:hover {
                        border-color: @input-checked-border-focus;
                    }

                    &:before {
                        content: "\f00c";
                        float: left;
                        padding: 0 3px;
                        margin-top: 3px;
                    }
                }
            }

            &:focus {
                + .form-control-fa-style {
                    .form-control-focus();
                    border-color: @input-border-focus;
                }
            }

            &:checked:focus {
                + .form-control-fa-style {
                    border-color: @input-checked-border-focus;
                }
            }
        }

        > input[type="radio"] {
            + .form-control-fa-style {
                border-radius: 11px;
            }
        }
    }
}

label.form-control-fa > input[type="checkbox"][disabled],
label.form-control-fa > input[type="radio"][disabled],
fieldset[disabled] label.form-control-fa > input[type="checkbox"],
fieldset[disabled] label.form-control-fa > input[type="radio"] {
    + .form-control-fa-style {
        cursor: not-allowed;
        background-color: @input-bg-disabled;
        border-color: @input-border;
        color: inherit;

        &:hover {
            border-color: @input-border;
        }

        &:before {
            opacity: 0.3;
        }
    }
}

.form-control-color(default);
.form-control-disabled-color(default);
.form-control-color(primary);
.form-control-disabled-color(primary);
.form-control-color(secondary);
.form-control-disabled-color(secondary);
.form-control-color(success);
.form-control-disabled-color(success);
.form-control-color(info);
.form-control-disabled-color(info);
.form-control-color(warning);
.form-control-disabled-color(warning);
.form-control-color(danger);
.form-control-disabled-color(danger);


// Input file
// --------------------------------------------------

.form-control {
    + .btn-file-input-text {
        float: right;
        margin-top: -@input-height-base;
    }

    + .bootstrap-filestyle {
        outline-color: @input-border-focus;
    }
}

.form-control.input-lg + .btn-file-input-text {
    float: right;
    margin-top: -@input-height-large;
    height: @input-height-large;
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @input-border-radius-large);
}

.form-control.input-sm + .btn-file-input-text {
    float: right;
    margin-top: -@input-height-small;
    height: @input-height-small;
    .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @input-border-radius-small);
}
