
//
// Load Sonatra Bootstrap mixins
// --------------------------------------------------

@import "@{symfony-vendor-dir}/twitter/bootstrap/less/mixins.less";


//
// Mixins
// --------------------------------------------------


// CSS3 PROPERTIES
// --------------------------------------------------

// Text shadows
.text-shadow(@shadow) {
    -webkit-text-shadow: @shadow; // iOS <4.3 & Android <4.1
            text-shadow: @shadow;
}

.text-longshadow (@color, @size, @darken: 10%) {
    .text-longshadowloop (@loopColor, @loopSize, @loopDarken, @initSize, @previousShadow: '') when (@loopSize >= 0) {
        .text-longshadowfinish (@string, @index) when (@index < 0) {
            .text-shadow(@string);
        }

        @percent: (1 - (@loopSize / @initSize)) * @loopDarken;
        @shadowColor: darken(@loopColor, @percent);
        @shadow: ~"@{shadowColor} @{loopSize}px @{loopSize}px@{previousShadow}";

        .text-longshadowfinish(@shadow, @loopSize - 1);
        .text-longshadowloop(@loopColor, @loopSize - 1, @loopDarken, @initSize, ", @{shadow}");
    }

    .text-longshadowloop(@color, unit(@size) - 1, unit(@darken), unit(@size) - 1);
}


// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.button-variant-outline(@color; @background; @border) {
    color: @background;
    background-color: transparent;
    border-color: @border;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle& {
        color: @color;
        background-color: @background;
    }
    &:active,
    &.active,
    .open .dropdown-toggle& {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: tranparent;
            border-color: @border;
        }
    }

    .badge {
        color: @color;
        background-color: @background;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        .badge {
            color: @background;
            background-color: @color;
        }
    }
}

.button-variant-outline-inverse(@color; @background; @border) {
    color: @color;
    background-color: transparent;
    border-color: @color;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle& {
        color: @background;
        background-color: @color;
    }
    &:active,
    &.active,
    .open .dropdown-toggle& {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: tranparent;
            border-color: @color;
        }
    }

    .badge {
        color: @background;
        background-color: @color;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        .badge {
            color: @color;
            background-color: @background;
        }
    }
}
