//
// Nav scrollable
// --------------------------------------------------

.nav-scrollable {
    overflow: hidden;

    .nav {
        float: inherit;
        white-space: nowrap;
        display: inline-block;
        margin: 0;

        > li {
            float: inherit;
            display: inline-block;
        }

        &.navbar-nav {
            > li > a {
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
    }

    &.is-nav-tabs {
        & + .panel,
        & + .tab-content > .tab-pane > .panel {
            &,
            > .panel-heading,
            > .panel-body,
            > .panel-footer {
                .border-top-radius(0);
            }
        }
    }

    &.is-nav-pills {
        margin-bottom: 10px;
    }

    &.nav-scrollable-has-previous {
        .box-shadow(~"inset @{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-default-inner-shadow-color}");
    }

    &.nav-scrollable-has-next {
        .box-shadow(~"inset -@{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-default-inner-shadow-color}");
    }

    &.nav-scrollable-has-previous.nav-scrollable-has-next {
        .box-shadow(~"inset @{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-default-inner-shadow-color}, inset -@{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-default-inner-shadow-color}");
    }
}

.navbar-inverse {
    .nav-scrollable {
        &.nav-scrollable-has-previous {
            .box-shadow(~"inset @{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-inverse-inner-shadow-color}");
        }

        &.nav-scrollable-has-next {
            .box-shadow(~"inset -@{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-inverse-inner-shadow-color}");
        }

        &.nav-scrollable-has-previous.nav-scrollable-has-next {
            .box-shadow(~"inset @{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-inverse-inner-shadow-color}, inset -@{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-default-inner-shadow-color}");
        }
    }
}

.navbar-fixed-top,
navbar-static-top {
    .nav-scrollable {
        &:last-child {
            margin-right: 25px;
        }
    }
}

.dropdown-menu {
    &.dropdown-nav-scrollable {
        display: block;
        margin-top: -1px;
        .border-top-radius(0);
    }
}


// Responsive
// -------------------------

@media (max-width: @screen-xs-max) {
    .navbar.has-nav-scrollable {
        .navbar-header {
            float: left;
        }
    }

    .nav-scrollable {
        .navbar-nav {
            > li {
                > a {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }

    .dropdown-menu {
        &.dropdown-nav-scrollable {
            left: 0 !important;
            width: 100%;
            min-width: inherit;
            border-left: none;
            border-right: none;
            max-height: 250px;
            overflow-y: auto;

            .dropdown {
                > a:after {
                    .rotate(90deg);
                }

                > .dropdown-menu {
                    display: block;
                    position: relative;
                    width: 100%;
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                    padding-left: 20px;
                    .border-top-radius(0);
                    .box-shadow(none);
                }

                &.open {
                    > a:after {
                        border-left-color: inherit;
                    }
                }
            }
        }
    }

    .hammer-scroll-content {
        left: 0 !important;
        width: 100%;
        min-width: inherit;
        border-left: none;
        border-right: none;

        .dropdown-menu {
            &.dropdown-nav-scrollable {
                max-height: auto;
                overflow-y: hidden;
            }
        }
    }
}
