//
// Navbar scroll
// --------------------------------------------------

.navbar-scrollable {
    overflow: hidden;

    .navbar-nav {
        float: inherit;
        white-space: nowrap;
        display: inline-block;
        margin: 0;

        > li {
            float: inherit;
            display: inline-block;

            > a {
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
    }

    &.navbar-scrollable-has-previous {
        .box-shadow(~"inset @{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-inner-shadow-color}");
    }

    &.navbar-scrollable-has-next {
        .box-shadow(~"inset -@{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-inner-shadow-color}");
    }

    &.navbar-scrollable-has-previous.navbar-scrollable-has-next {
        .box-shadow(~"inset @{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-inner-shadow-color}, inset -@{navbar-scroll-inner-shadow-size} 0px @{navbar-scroll-inner-shadow-size} -@{navbar-scroll-inner-shadow-size} @{navbar-scroll-inner-shadow-color}");
    }
}

.navbar-fixed-top,
navbar-static-top {
    .navbar-scrollable {
        &:last-child {
            margin-right: 25px;
        }
    }
}

.dropdown-menu {
    &.dropdown-navbar-scrollable {
        display: block;
        margin-top: -1px;
    }
}


// Responsive
// -------------------------

@media (max-width: @screen-xs-max) {
    .navbar.has-navbar-scrollable {
        .navbar-header {
            float: left;
        }
    }

    .navbar-scrollable {
        .navbar-nav {
            > li {
                > a {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }

    .dropdown-menu {
        &.dropdown-navbar-scrollable {
            left: 0 !important;
            width: 100%;
            min-width: inherit;
            border-left: none;
            border-right: none;
            max-height: 250px;
            overflow-y: auto;

            .dropdown {
                > a:after {
                    .rotate(90deg);
                }

                > .dropdown-menu {
                    display: block;
                    position: relative;
                    width: 100%;
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                    padding-left: 20px;
                    .border-top-radius(0);
                    .box-shadow(none);
                }

                &.open {
                    > a:after {
                        border-left-color: inherit;
                    }
                }
            }
        }
    }
}
