//
// Panels
// --------------------------------------------------

.panel {
    .box-shadow(@panel-shadow);

    .panel-actions {
        float: right;
        max-width: 68%;
        text-align: right;

        > .btn {
            margin: 2px;
        }
    }

    > .panel-heading,
    > .panel-footer {
        border-color: @panel-inner-border;

        > .panel-actions {
            padding: 10px 0;
            line-height: ceil((@font-size-base * 1.125));
        }

        > .panel-buttons {
            margin: 10px -16px;
            background-color: darken(@panel-bg, 1%);

            > .nav-scrollable > .nav-btn-group {
                white-space: nowrap;
                display: inline-block;
            }

            > .btn,
            > .btn-group > .btn,
            > .nav-scrollable > .nav-btn-group > .btn,
            > .nav-scrollable > .nav-btn-group > .btn-group > .btn {
                margin: 5px 2px;

                &:first-child {
                    margin-left: 2px;
                }

                &:last-child {
                    margin-right: 2px;
                }
            }
        }
    }

    > .panel-heading {
        &:last-child {
            border-bottom: none;
        }

        > .clearfix {
            height: 0;
        }

        > .panel-actions {
            margin-top: -10px;
            margin-right: -15px;
        }

        > .panel-buttons {
            border-top: 1px solid @panel-inner-border;
            border-bottom: 1px solid @panel-inner-border;

            &:first-child {
                border-top: none;
                margin-top: -11px;
                .border-top-radius(@panel-border-radius);

                > .nav-scrollable {
                    .border-top-radius(@panel-border-radius);
                }
            }

            &:last-child {
                border-bottom: none;
                margin-bottom: -10px;
            }
        }
    }

    > .panel-footer {
        > .panel-buttons {
            border-top: 1px solid @panel-inner-border;
            border-bottom: 1px solid @panel-inner-border;

            &:first-child {
                border-top: none;
                margin-top: -10px;
            }

            &:last-child {
                border-bottom: none;
                margin-bottom: -11px;
                .border-bottom-radius(@panel-border-radius);

                > .nav-scrollable {
                    .border-bottom-radius(@panel-border-radius);
                }
            }
        }
    }

    > .panel-section {
        > .panel-section-heading {
            padding: 10px 15px;

            > .panel-actions {
                padding: 7px 0;
                margin-top: -10px;
                margin-right: -15px;
                line-height: ceil((@panel-section-heading-size * 1.125));
            }

            > .panel-section-title {
                color: @panel-section-heading-color;
            }

            + .panel-body {
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }

        > .panel-row {
            + .panel-row {
                border-top: 1px solid @panel-inner-row-border;
            }

            &.panel-row-spacer {
                min-height: @input-height-base;
            }

            &:last-child {
                margin-bottom: 10px;
            }

            > .panel-cell-spacer {
                > div[class*="col-"] {
                    min-height: @input-height-base;
                }
            }
        }

        + .panel-section {
            margin-top: 15px;

            > .panel-section-heading {
                border-top: 1px dashed @panel-inner-border;
            }
        }

        &.panel-collapsed {
            > *:not(.panel-section-heading) {
                display: none;
            }

            > .panel-section-heading {
                > .panel-actions {
                    > .btn-panel-collapse {
                        .caret {
                            -moz-transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        &.container,
        &.container-fluid {
            > .panel-section-heading {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }

    > .alert {
        margin: 10px;
    }
}

.panel-title {
    font-size: @panel-heading-size;
}

.panel-section-title {
    font-size: @panel-section-heading-size;
    line-height: ceil((@panel-section-heading-size * 1.125));
    margin: 0;
}

// Contextual variations
.panel-secondary {
    .panel-variant(@panel-secondary-border; @panel-secondary-text; @panel-secondary-heading-bg; @panel-secondary-border);
}

.panel {
    &.panel-default,
    &.panel-primary,
    &.panel-secondary,
    &.panel-success,
    &.panel-info,
    &.panel-warning,
    &.panel-danger {
        > .panel-heading {
            border-color: @panel-inner-border;

            .panel-actions {
                color: @text-color;
            }
        }
    }
}


// Variantes
// -------------------------

.panel-variant-box(primary, @brand-primary, @brand-primary, lighten(@brand-primary, 3%), #fff);
.panel-variant-box(secondary, @brand-secondary, @brand-secondary, lighten(@brand-secondary, 3%), #fff);
.panel-variant-box(success, @brand-success, @brand-success, lighten(@brand-success, 3%), #fff);
.panel-variant-box(info, @brand-info, @brand-info, lighten(@brand-info, 3%), #fff);
.panel-variant-box(warning, @brand-warning, @brand-warning, lighten(@brand-warning, 3%), #fff);
.panel-variant-box(danger, @brand-danger, @brand-danger, lighten(@brand-danger, 3%), #fff);

.panel-variant-top(default, @brand-primary, @panel-top-border-height);
.panel-variant-top(primary, @brand-primary, @panel-top-border-height);
.panel-variant-top(secondary, @brand-secondary, @panel-top-border-height);
.panel-variant-top(success, @brand-success, @panel-top-border-height);
.panel-variant-top(info, @brand-info, @panel-top-border-height);
.panel-variant-top(warning, @brand-warning, @panel-top-border-height);
.panel-variant-top(danger, @brand-danger, @panel-top-border-height);

.panel-variant-wire(default, @text-color);
.panel-variant-wire(primary, @brand-primary);
.panel-variant-wire(secondary, @brand-secondary);
.panel-variant-wire(success, @brand-success);
.panel-variant-wire(info, @brand-info);
.panel-variant-wire(warning, @brand-warning);
.panel-variant-wire(danger, @brand-danger);

.panel-variant-frame(default, @text-color);
.panel-variant-frame(primary, @brand-primary);
.panel-variant-frame(secondary, @brand-secondary);
.panel-variant-frame(success, @brand-success);
.panel-variant-frame(info, @brand-info);
.panel-variant-frame(warning, @brand-warning);
.panel-variant-frame(danger, @brand-danger);

.panel-variant-lite(default, @text-color);
.panel-variant-lite(primary, @brand-primary);
.panel-variant-lite(secondary, @brand-secondary);
.panel-variant-lite(success, @brand-success);
.panel-variant-lite(info, @brand-info);
.panel-variant-lite(warning, @brand-warning);
.panel-variant-lite(danger, @brand-danger);

.panel-variant-label(default, @text-color);
.panel-variant-label(primary, @brand-primary);
.panel-variant-label(secondary, @brand-secondary);
.panel-variant-label(success, @brand-success);
.panel-variant-label(info, @brand-info);
.panel-variant-label(warning, @brand-warning);
.panel-variant-label(danger, @brand-danger);
