//
// Table
// --------------------------------------------------

.table {
    > thead,
    > tfoot {
        > tr {
            > th {
                color: @table-header-color;
                min-width: 90px;

                &.table-left {
                    text-align: left;
                }

                &.table-center {
                    text-align: center;
                }

                &.table-right {
                    text-align: right;
                }
            }
        }
    }

    > tbody {
        > tr {
            > td {
                &.table-left {
                    text-align: left;
                }

                &.table-center {
                    text-align: center;
                }

                &.table-right {
                    text-align: right;
                }

                &.table-row-number {
                    color: @table-row-number-color;
                    font-size: @table-row-number-size;
                    text-align: right;
                    white-space: nowrap;
                    padding-left: 4px;
                    padding-right: 0;
                }
            }
        }
    }

    > thead > tr > th,
    > tbody > tr > td,
    > tfoot > tr > td {
        > .checkbox,
        > .radio {
            margin-top: auto;
            margin-bottom: auto;
            display: inline-block;
        }

        > .checkbox label.form-control-fa > input[type="checkbox"],
        > .radio label.form-control-fa > input[type="radio"] {
            + .form-control-fa-style {
                width: 18px;
                height: 18px;
                font-size: 11px;
            }
        }
    }

    > thead {
        .table-select-count,
        .table-select-clear {
            padding: 4px 4px 3px 4px;
            line-height: floor((@font-size-base * @line-height-base));
        }

        .table-select-count {
            &.disabled {
                opacity: 1;
            }

            &:empty {
                display: none;

                + .table-select-clear {
                    display: none;
                }
            }
        }

        // sort
        th {
            > i.table-sort-icon {
                display: none;
                margin-left: 3px;
                vertical-align: middle;
                color: @table-sort-icon-color;
            }

            &[data-table-sort=asc] {
                > i.table-sort-icon {
                    display: inline-block;

                    &:before {
                        content: @table-sort-icon-asc;
                    }
                }
            }

            &[data-table-sort=desc] {
                > i.table-sort-icon {
                    display: inline-block;

                    &:before {
                        content: @table-sort-icon-desc;
                    }
                }
            }
        }
    }
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}
