
//
// Load core variables and mixins
// --------------------------------------------------

@import "@{SonatraGluonBundle}/Resources/assetic/less/variables.less";
@import "@{symfony-vendor-dir}/twitter/bootstrap/less/mixins.less";

// Navbar
// --------------------------------------------------

.navbar {
    @media (min-width: @grid-float-breakpoint) {
        .slimScrollDiv {
            overflow: inherit !important;
        }
    }

    @media (max-width: @grid-float-breakpoint-max) {
        .navbar-collapse,
        > .slimScrollDiv {
            .box-shadow(0 3px 4px rgba(0, 0, 0, 0.36));
        }
    }
}

.navbar-brand {
    width: 210px;
}

.navbar-brand span,
.navbar-brand a {
    font-size: 12px;
}

.navbar-nav {
    > .dropdown > a {
        color: @dropdown-link-color;

        &:hover,
        &:focus {
            color: @dropdown-link-hover-color;
        }
    }

    @media (max-width: @grid-float-breakpoint-max) {
        > .open > a {
            color: @navbar-default-link-color;
            background-color: inherit !important;

            &:hover,
            &:focus {
                color: @navbar-default-link-hover-color;
                background-color: inherit !important;
            }
        }

        .dropdown-menu {
            > li > a {
                &,
                &:hover,
                &:focus {
                    color: inherit;
                    background-color: inherit;
                }
            }

            > li.dropdown {
                > a:after {
                    display: none;
                }
        
                > a > .caret {
                    display: inline-block;
                }
            }

            &.pull-left,
            &.pull-right {
                float: none !important;
            }
        }

        .open .dropdown-menu,
        .dropdown-menu {
            display: block;
            width: 100%;
            position: relative;
            float: none;
            margin-top: 0;
            background-color: inherit;
            border: 0;
            box-shadow: none;

            > li > a,
            .dropdown-header {
                padding: 5px 15px 5px 25px;
            }

            > li > a {
                line-height: @line-height-computed;

                &:hover,
                &:focus {
                    color: @navbar-default-link-hover-color;
                    background-image: none;
                }
            }

            .dropdown-menu {
                display: block;
        
                > li {
                    padding-left: 20px;
                }
            }
        }

        .dropdown-header {
            color: @navbar-default-link-color;
        }

        .col-menu-2 {
            min-width: inherit;

            > li:first-child ul {
                border-right-color: transparent;
            }

            > li > ul > li a {
                padding-left: 45px;
                color: @navbar-default-link-color;
    
                &:hover,
                &:focus {
                    color: @navbar-default-link-hover-color;
                    background-color: inherit;
                }
            }
        }

        .navbar-brand {
            width: auto;
        }
    }
}

.navbar-inverse .navbar-nav {
    @media (max-width: @grid-float-breakpoint-max) {
        > .dropdown > a {
            color: @navbar-inverse-link-color;
    
            &:hover,
            &:focus {
                color: @navbar-inverse-link-hover-color;
            }
        }

        .dropdown-menu > li > a {
            color: @navbar-inverse-link-color;
        }

        .open .dropdown-menu,
        .dropdown-menu {
            > li > a {
                &:hover,
                &:focus {
                    color: @navbar-inverse-link-hover-color;
                }
            }
        }

        .dropdown-header {
            color: @navbar-inverse-link-color;
        }

        > .open > a {
            color: @navbar-inverse-link-color;;
            background-color: inherit !important;

            &:hover,
            &:focus {
                color: @navbar-inverse-link-hover-color;
                background-color: inherit !important;
            }
        }

        .col-menu-2 > li > ul > li a {
            color: @navbar-inverse-link-color;

            &:hover,
            &:focus {
                color: @navbar-inverse-link-hover-color;
            }
        }
    }
}
