//
// Variables
// --------------------------------------------------

@import "@{SonatraBootstrapBundle}/Resources/assetic/less/variables.less";


// Global values
// --------------------------------------------------

// Brand colors
// -------------------------

@brand-primary:         #0071ce;
@brand-secondary:       @gray-light;

// Scaffolding
// -------------------------

@body-bg:               #f5f5f5;
@text-color:            @gray;

// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      lighten(@link-color, 10%);

// Typography
// -------------------------

@font-family-sans-serif:  'Open Sans', sans-serif;
@font-family-weight:      700;

@font-size-base:          13px;
@font-size-medium:        ceil((@font-size-base * 1.10)); // ~15px

@headings-font-family:    'Raleway', sans-serif;
@headings-font-weight:    200;

// Components
// -------------------------

@border-radius-base:             2px;
@border-radius-large:            2px;
@border-radius-small:            2px;

// Buttons
// -------------------------

@btn-primary-border:             @btn-primary-bg;

@btn-secondary-color:            #fff;
@btn-secondary-bg:               @brand-secondary;
@btn-secondary-border:           @btn-secondary-bg;

@btn-success-border:             @btn-success-bg;

@btn-warning-border:             @btn-warning-bg;

@btn-danger-border:              @btn-danger-bg;

@btn-info-border:                @btn-info-bg;

// Forms
// -------------------------

@input-border-radius:                  0px;
@input-border-radius-large:            0px;
@input-border-radius-small:            0px;

@input-border-focus:                   @brand-primary;
@input-checked-color:                  #fff;
@input-checked-bg:                     @brand-primary;
@input-checked-border-focus:           darken(@brand-primary, 10%);

@input-default-border-focus:           darken(@input-border, 10%);
@input-default-checked-color:          @input-color;
@input-default-checked-bg:             @input-border;
@input-default-checked-border-focus:   darken(@input-border, 20%);

@input-primary-border-focus:           @brand-primary;
@input-primary-checked-color:          #fff;
@input-primary-checked-bg:             @brand-primary;
@input-primary-checked-border-focus:   darken(@brand-primary, 20%);

@input-secondary-border-focus:         @brand-secondary;
@input-secondary-checked-color:        #fff;
@input-secondary-checked-bg:           @brand-secondary;
@input-secondary-checked-border-focus: darken(@brand-secondary, 20%);

@input-success-border-focus:           @brand-success;
@input-success-checked-color:          #fff;
@input-success-checked-bg:             @brand-success;
@input-success-checked-border-focus:   darken(@brand-success, 20%);

@input-info-border-focus:              @brand-info;
@input-info-checked-color:             #fff;
@input-info-checked-bg:                @brand-info;
@input-info-checked-border-focus:      darken(@brand-info, 20%);

@input-warning-border-focus:           @brand-warning;
@input-warning-checked-color:          #fff;
@input-warning-checked-bg:             @brand-warning;
@input-warning-checked-border-focus:   darken(@brand-warning, 20%);

@input-danger-border-focus:            @brand-danger;
@input-danger-checked-color:           #fff;
@input-danger-checked-bg:              @brand-danger;
@input-danger-checked-border-focus:    darken(@brand-danger, 20%);

// Dropdowns
// -------------------------

@dropdown-border:                rgba(0,0,0,.1);

@dropdown-link-hover-color:      #fff;
@dropdown-link-hover-bg:         lighten(@brand-primary, 5%);

@dropdown-header-color:          @brand-primary;

@dropdown-shadow:                1px 1px 3px rgba(0, 0, 0, 0.14);


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------

@zindex-sidebar-toggle:        @zindex-navbar + 1;
@zindex-sidebar-wrapper:       @zindex-navbar - 1;
@zindex-sidebar-toggle-fixed:  @zindex-navbar-fixed + 1;
@zindex-sidebar-wrapper-fixed: @zindex-navbar-fixed - 1;
@zindex-datetime-picker:       @zindex-navbar;
@zindex-hammer-scrollbar:      1000;

// Navbar
// -------------------------

// Custom navbar brand
@navbar-brand-font-size:                   @font-size-small;
@navbar-brand-width:                       210px;
@navbar-brand-vertical-padding:            10px;
@navbar-brand-img-height:                  30px;

// Custom navbar dropdown link
@navbar-dropdown-link-color:               @brand-primary;
@navbar-dropdown-link-bg:                  transparent;
@navbar-dropdown-link-hover-color:         lighten(@brand-primary, 5%);
@navbar-dropdown-link-hover-bg:            transparent;

//@navbar-default-color:                   #777;
@navbar-default-bg:                        #fafafa;
@navbar-default-border:                    darken(@navbar-default-bg, 5%);

// Navbar links
@navbar-default-link-color:                @gray;
@navbar-default-link-hover-color:          lighten(@gray, 20%);
@navbar-default-link-active-color:         @brand-primary;
@navbar-default-link-active-shadow-color:  @navbar-default-link-active-color;
@navbar-default-link-active-bg:            transparent;

// Navbar brand label
@navbar-default-brand-hover-bg:            darken(@navbar-default-bg, 3%);

// Navbar toggle
@navbar-default-toggle-hover-bg:           @gray-lighter;
@navbar-default-toggle-border-color:       transparent;
@navbar-default-toggle-font-size:          @font-size-large;

// Custom navbar toggle
@navbar-default-toggle-fa-icon:            "\f0c9";
@navbar-default-toggle-icon-bar-bg:        darken(@gray-lighter, 20%);
@navbar-default-toggle-padding:            4px 10px;
@navbar-default-toggle-margin-top:         8px;
@navbar-default-toggle-margin-bottom:      8px;

// Custom navbar links in collape mode
@navbar-default-collapse-link-color:       @navbar-dropdown-link-color;
@navbar-default-collapse-link-bg:          @navbar-dropdown-link-bg;
@navbar-default-collapse-link-hover-color: @navbar-dropdown-link-hover-color;
@navbar-default-collapse-link-hover-bg:    @navbar-dropdown-link-hover-bg;

// Custom navbar dropdown links in collape mode
@navbar-default-collapse-dropdown-link-color:       lighten(@navbar-default-link-color, 20%);
@navbar-default-collapse-dropdown-link-bg:          @navbar-dropdown-link-bg;
@navbar-default-collapse-dropdown-link-hover-color: darken(@navbar-default-collapse-dropdown-link-color, 10%);
@navbar-default-collapse-dropdown-link-hover-bg:    @navbar-dropdown-link-hover-bg;

// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      #fff;
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     @navbar-inverse-bg;

// Inverted navbar links
@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-color:           @gray-lighter;
@navbar-inverse-link-active-color:          @navbar-inverse-link-color;
@navbar-inverse-link-active-shadow-color:   @navbar-inverse-link-active-color;
@navbar-inverse-link-active-bg:             transparent;

// Inverted navbar brand label
@navbar-inverse-brand-hover-bg:             lighten(@navbar-inverse-bg, 3%);

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            lighten(@brand-primary, 5%);
@navbar-inverse-toggle-border-color:        transparent;

// Custom inverted navbar toggle
@navbar-inverse-toggle-icon-bar-bg:         #fff;

// Custom inverted navbar links in collape mode
@navbar-inverse-collapse-link-color:        @navbar-inverse-link-color;
@navbar-inverse-collapse-link-bg:           @navbar-dropdown-link-bg;
@navbar-inverse-collapse-link-hover-color:  @navbar-inverse-link-hover-color;
@navbar-inverse-collapse-link-hover-bg:     @navbar-dropdown-link-bg;

// Custom inverted navbar dropdown links in collape mode
@navbar-inverse-collapse-dropdown-link-color:       rgba(255, 255, 255, 0.5);
@navbar-inverse-collapse-dropdown-link-bg:          @navbar-dropdown-link-bg;
@navbar-inverse-collapse-dropdown-link-hover-color: rgba(255, 255, 255, 0.57);
@navbar-inverse-collapse-dropdown-link-hover-bg:    @navbar-dropdown-link-bg;


// Navs
// -------------------------

//== Tabs
@nav-tabs-border-color:                       transparent;
@nav-tabs-link-hover-border-color:            transparent;
@nav-tabs-active-link-border-color:           @brand-primary;
@nav-tabs-active-link-hover-bg:               #fff;
@nav-tabs-active-link-hover-color:            @gray;
@nav-tabs-active-link-hover-border-color:     transparent;
@nav-tabs-justified-link-border-color:        #ddd;
@nav-tabs-justified-active-link-border-color: @body-bg;
@nav-tabs-shadow:                             4px 0px 2px -3px rgba(0, 0, 0, 0.14);


// Table
// -------------------------

@table-header-color:     @brand-primary;
@table-row-number-color: @gray-light;
@table-row-number-size:  @font-size-small;


// Custom Sidebar
// -------------------------

@sidebar-wrapper-width:              @navbar-brand-width;
@sidebar-default-toggle-fa-icon:     @navbar-default-toggle-fa-icon;
@sidebar-default-toggle-font-size:   @navbar-default-toggle-font-size;
@sidebar-default-toggle-color:       @navbar-default-toggle-icon-bar-bg;
@sidebar-default-toggle-hover-color: @navbar-default-link-hover-color;
@sidebar-default-color:              @gray-dark;
@sidebar-default-bg:                 #fff;
@sidebar-default-border-color:       @gray-lighter;
@sidebar-default-group-color:        darken(@sidebar-default-bg, 14%);
@sidebar-default-group-size:         @font-size-h3;
@sidebar-default-link-color:         @gray-dark;
@sidebar-default-link-mini-color:    lighten(@gray-dark, 32%);
@sidebar-default-link-bg:            @sidebar-default-bg;
@sidebar-default-link-hover-color:   @navbar-default-link-hover-color;
@sidebar-default-link-hover-bg:      @gray-lighter;
@sidebar-default-link-active-color:  @brand-primary;
@sidebar-default-link-active-bg:     @sidebar-default-link-bg;
@sidebar-default-scrollbar-bg:       #555;

@sidebar-toggle-inverse-color:       @navbar-inverse-toggle-icon-bar-bg;
@sidebar-toggle-inverse-hover-color: @navbar-inverse-link-hover-color;
@sidebar-inverse-color:              @navbar-inverse-color;
@sidebar-inverse-bg:                 #2a3542;
@sidebar-inverse-border-color:       lighten(@sidebar-inverse-bg, 5%);
@sidebar-inverse-group-color:        lighten(@sidebar-inverse-bg, 14%);
@sidebar-inverse-link-color:         @sidebar-inverse-color;
@sidebar-inverse-link-mini-color:    lighten(@sidebar-inverse-bg, 32%);
@sidebar-inverse-link-bg:            @sidebar-inverse-bg;
@sidebar-inverse-link-hover-color:   @navbar-inverse-link-hover-color;
@sidebar-inverse-link-hover-bg:      lighten(@sidebar-inverse-link-bg, 5%);
@sidebar-inverse-link-active-color:  lighten(@brand-primary, 46%);
@sidebar-inverse-link-active-bg:     @sidebar-inverse-link-bg;
@sidebar-inverse-scrollbar-bg:       lighten(@sidebar-inverse-bg, 70%);

// Labels
// -------------------------

@label-secondary-bg:          @brand-secondary;

// Progress bars
// -------------------------
@progress-bar-secondary-bg:   @brand-secondary;

// Panels
// -------------------------

@panel-shadow:                @dropdown-shadow;

@panel-inner-border:          #ddd;
@panel-footer-bg:             lighten(#ddd, 12%);

@panel-default-text:          @gray-dark;
@panel-default-border:        lighten(#ddd, 10%);
@panel-default-heading-bg:    transparent;
@panel-primary-text:          @brand-primary;
@panel-primary-border:        @panel-default-border;
@panel-primary-heading-bg:    transparent;
@panel-secondary-text:        @brand-secondary;
@panel-secondary-border:      @panel-default-border;
@panel-secondary-heading-bg:  transparent;
@panel-success-text:          @brand-success;
@panel-success-border:        @panel-default-border;
@panel-success-heading-bg:    transparent;
@panel-info-text:             @brand-info;
@panel-info-border:           @panel-default-border;
@panel-info-heading-bg:       transparent;
@panel-warning-text:          @brand-warning;
@panel-warning-border:        @panel-default-border;
@panel-warning-heading-bg:    transparent;
@panel-danger-text:           @brand-danger;
@panel-danger-border:         @panel-default-border;
@panel-danger-heading-bg:     transparent;


// Select2
// --------------------------------------------------

@zindex-select2:                   9996;
@select2-height-base:              @input-height-base - 2;
@select2-arrow-icon:               "\f078";
@select2-arrow-color:              @input-border;
@select2-arrow-bg:                 @input-bg;
@select2-arrow-border-color:       transparent;
@select2-choice-close-icon:        "\f00d";
@select2-choice-close-color:       @brand-danger;
@select2-choice-close-hover-color: darken(@select2-choice-close-color, 8%);
@select2-open-bg:                  darken(@input-bg, 5%);
@select2-open-arrow-icon:          "\f077";
@select2-open-arrow-color:         @select2-arrow-color;
@select2-open-choice-close-color:  @select2-arrow-color;
@select2-search-icon:              "\f002";
@select2-search-color:             @select2-arrow-color;
@select2-active-color:             @brand-primary;
@select2-active-bg:                transparent;
@select2-results-info:             #f4f4f4;
@select2-results-em:               #feffde;
@select2-more-results-bg:          #f4f4f4;
@select2-highlighted-color:        #fff;
@select2-highlighted-bg:           @brand-primary;
@select2-btn-color:                @input-color;
@select2-btn-border:               @input-border;
@select2-btn-bg:                   @input-bg;
@select2-btn-hover-bg:             darken(@select2-btn-bg, 5%);


// Datetime picker
// --------------------------------------------------

@datetime-picker-color: @gray;
@datetime-picker-bg: #fff;
@datetime-picker-border: rgba(0,0,0,.15);
@datetime-picker-fallback-border: #ccc;
@datetime-picker-title-font-familly: @font-family-sans-serif;
@datetime-picker-title-font-weight: @font-family-weight;
@datetime-picker-title-border-color: @brand-primary;

@datetime-picker-tab-color: lighten(@datetime-picker-color, 32%);
@datetime-picker-tab-bg: darken(@datetime-picker-btn-bg, 3%);
@datetime-picker-tab-selected-color: @datetime-picker-title-border-color;

@datetime-picker-choice-btn-color: @datetime-picker-title-border-color;

@datetime-picker-btn-bg: @datetime-picker-bg;
@datetime-picker-btn-hover-bg: darken(@datetime-picker-btn-bg, 5%);

@datetime-picker-header-days-color: @datetime-picker-tab-color;
@datetime-picker-day-out-color: lighten(@datetime-picker-tab-color, 10%);
@datetime-picker-day-selected-color: #fff;
@datetime-picker-day-selected-bg: @datetime-picker-tab-selected-color;
@datetime-picker-day-today-bg: darken(@datetime-picker-btn-bg, 5%);

@datetime-picker-time-item-height: 32px;
@datetime-picker-time-btn-color: @datetime-picker-title-border-color;
@datetime-picker-time-btn-bg: @datetime-picker-btn-bg;
@datetime-picker-time-btn-hover-bg: @datetime-picker-btn-hover-bg;


// Hammer Scroll
// --------------------------------------------------

@hammer-scrollbar-bg: #000;
@hammer-scrollbar-opacity: 0.32;
@hammer-scrollbar-width: 3px;
@hammer-scrollbar-radius: 2px;
@hammer-scrollbar-margin: 2px;


// Navbar Scroll
// --------------------------------------------------

@navbar-scroll-inner-shadow-size:  23px;
@navbar-scroll-default-inner-shadow-color: lighten(@gray-light, 20%);
@navbar-scroll-inverse-inner-shadow-color: lighten(@navbar-inverse-bg, 5%);


// Table pager
// --------------------------------------------------

@table-pager-loading-color: @brand-primary;
@table-pager-loading-bg:    rgba(255,255,255,0.7);
@table-pager-loading-icon:  "\f013";
@table-pager-loading-size:  32px;


// Footable
// --------------------------------------------------

@footable-font-family:         "FontAwesome";
@footable-toggle-icon:         "\f054";
@footable-toggle-icon-show:    "\f078";
@footable-toggle-color:        @brand-secondary;
@footable-detail-bg:           #fcfcfc;
@footable-detail-inner-shadow: inset 0px 6px 5px -5px rgba(0, 0, 0, 0.14);
@footable-detail-name-color:   @brand-secondary;


// Account
// --------------------------------------------------

@account-logo-height: 50px;
