<!DOCTYPE html>
<html data-ripple data-ripple-selector=".sidebar-item, .dropdown-ripple > li, .btn-ripple, .img-ripple, .select2-selection--single">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0071ce">
    <meta name="msapplication-TileImage" content="/assets/windows-tile.png">
    <meta name="msapplication-TileColor" content="#0071ce">
    <title>{{ title|default('Home example') }} - Sonatra Theme Gluon</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="fluid-icon" type="image/png" href="/assets/fluidicon.png" title="Sonatra">
    <link rel="apple-touch-icon" sizes="114x144" href="/assets/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144.png">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/footable.css" rel="stylesheet">
    <link href="/css/footable-striped.css" rel="stylesheet">
    <link href="/css/select2-bootstrap-theme.css" rel="stylesheet">
    <link href="/css/sonatra-bootstrap-dropdown-position.css" rel="stylesheet">
    <link href="/css/sonatra-bootstrap-panel-collapse.css" rel="stylesheet">
    <link href="/css/sonatra-bootstrap-nav-scroll.css" rel="stylesheet">
    <link href="/css/sonatra-jquery-datetime-picker.css" rel="stylesheet">
    <link href="/css/sonatra-jquery-scroller.css" rel="stylesheet">
    <link href="/css/sonatra-jquery-sidebar.css" rel="stylesheet">
    <link href="/css/sonatra-select2-responsive.css" rel="stylesheet">
    <link href="/css/sonatra-jquery-table-select.css" rel="stylesheet">
    <link href="/css/sonatra-jquery-table-pager.css" rel="stylesheet">
    <link href="/css/sonatra-jquery-table-sort.css" rel="stylesheet">
    <link href="/css/sonatra-jquery-ripple.css" rel="stylesheet">
    <link href="/css/gluon.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="/bower_components/respond/dest/respond.src.js"></script>
    <![endif]-->
    <style>
        .demo-separator {
            margin-top: 24px;
        }
        .demo-col > .btn {
            margin-top: 10px;
        }
    </style>
    {% block head_style %}
    {% endblock %}
</head>

<body>
<!-- SIDEBAR -->
{% block sidebars %}
{% endblock %}

<!-- CONTAINER MAIN -->
{% block body %}
{% endblock %}
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/ios-shrink.js"></script>
<script src="/bower_components/headroom.js/dist/headroom.js"></script>
<script src="/bower_components/bootstrap/js/transition.js"></script>
<script src="/bower_components/bootstrap/js/modal.js"></script>
<script src="/bower_components/bootstrap/js/dropdown.js"></script>
<script src="/bower_components/bootstrap/js/scrollspy.js"></script>
<script src="/bower_components/bootstrap/js/tab.js"></script>
<script src="/bower_components/bootstrap/js/tooltip.js"></script>
<script src="/bower_components/bootstrap/js/popover.js"></script>
<script src="/bower_components/bootstrap/js/alert.js"></script>
<script src="/bower_components/bootstrap/js/button.js"></script>
<script src="/bower_components/bootstrap/js/collapse.js"></script>
<script src="/bower_components/bootstrap/js/carousel.js"></script>
<script src="/bower_components/bootstrap/js/affix.js"></script>
<script src="/bower_components/footable/js/footable.js"></script>
<script src="/bower_components/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
<script src="/bower_components/hammerjs/hammer.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/jquery-knob/js/jquery.knob.js"></script>
<script src="/bower_components/select2/dist/js/select2.js"></script>
<script src="/bower_components/select2/dist/js/i18n/fr.js"></script>
<script src="/bower_components/sonatra-bootstrap-nav-footable/js/nav-footable.js"></script>
<script src="/bower_components/sonatra-bootstrap-nav-scroll/js/nav-scroll.js"></script>
<script src="/bower_components/sonatra-bootstrap-panel-collapse/js/panel-collapse.js"></script>
<script src="/bower_components/sonatra-footable-responsive/js/footable-responsive.js"></script>
<script src="/bower_components/sonatra-footable-striped/js/footable-striped.js"></script>
<script src="/bower_components/sonatra-jquery-scroller/js/sticky-header.js"></script>
<script src="/bower_components/sonatra-jquery-scroller/js/scroller.js"></script>
<script src="/bower_components/sonatra-bootstrap-dropdown-position/js/dropdown-position.js"></script>
<script src="/bower_components/sonatra-jquery-datetime-picker/js/datetime-picker.js"></script>
<script src="/bower_components/sonatra-jquery-datetime-picker/js/locale/datetime-picker-fr.js"></script>
<script src="/bower_components/sonatra-jquery-sidebar/js/sidebar.js"></script>
<script src="/bower_components/sonatra-jquery-table-pager/js/table-pager.js"></script>
<script src="/bower_components/sonatra-jquery-table-pager/js/locale/table-pager-fr.js"></script>
<script src="/bower_components/sonatra-jquery-table-select/js/table-select.js"></script>
<script src="/bower_components/sonatra-jquery-table-pager-footable/js/table-pager-footable.js"></script>
<script src="/bower_components/sonatra-jquery-ripple/js/ripple.js"></script>
<script src="/bower_components/sonatra-select2-responsive/js/select2-responsive.js"></script>
<script src="/bower_components/sonatra-select2-responsive/js/locale/select2-responsive-fr.js"></script>
<script src="/bower_components/sonatra-select2-scroller/js/select2-scroller.js"></script>
<script src="/js/floating-label.js"></script>
<script src="/js/resizing-textarea.js"></script>
<script src="/js/table-pager-default.js"></script>
<script src="/js/sidebar-context.js"></script>
<script src="/js/jquery-headroom.js"></script>
<!-- Import for demo only -->
<script src="/bower_components/holderjs/holder.js"></script>
<script>
    $(document).ready(function() {
        $('.container-main').on('scroll.st-examples', function() {
            $('.open .dropdown-toggle').dropdown('toggle');
        });
        {% block custom_script %}
        {% endblock %}
    });
</script>
</body>
</html>
