{% extends "examples/base.html" %}

{% block head_style %}
<style>
    .sidebar-header {
        background: #0c9b8f !important;
    }
    .sidebar-header-img {
        opacity: .05;
        position: absolute;
        right: -55px;
        bottom: -25px;
        width: 270px;
        height: 270px;
        -webkit-filter: drop-shadow( -5px -5px 5px #000 );
        filter: drop-shadow( -5px -5px 5px #000 );
    }
    .demo-example {
        position: relative;
        padding: 45px 15px 15px;
        margin: 0 -15px 15px;
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
    }
</style>
{% block custom_head_style %}
{% endblock %}
{% endblock %}

{% set sidebarItems = sidebarItems|default([
        {label: 'Home', href: '/'},
        {label: 'Styles', children: [
            {label: 'Typography', href: '/style/typography.html'},
            {label: 'Code', href: '/style/code.html'},
            {label: 'Images', href: '/style/images.html'},
            {label: 'Shadows', href: '/style/shadows.html'}
        ]},
        {label: 'Components', children: [
            {label: 'Forms', href: '/components/forms.html'},
            {label: 'Selects', href: '/components/selects.html'},
            {label: 'Checkbox / Radio', href: '/components/checkbox-radio.html'},
            {label: 'Toggles', href: '/components/toggles.html'},
            {label: 'Datetime picker', href: '/components/datetime-picker.html'},
            {label: 'Buttons', href: '/components/buttons.html'},
            {label: 'FAB', href: '/components/fab.html'},
            {label: 'Dropdowns', href: '/components/dropdowns.html'},
            {label: 'Thumbnails', href: '/components/thumbnails.html'},
            {label: 'Tables', href: '/components/tables.html'},
            {label: 'Panels', href: '/components/panels.html'},
            {label: 'Tabs / Pills', href: '/components/tabs-pills.html'},
            {label: 'List group', href: '/components/list-group.html'},
            {label: 'Badges', href: '/components/badges.html'},
            {label: 'Labels', href: '/components/labels.html'},
            {label: 'Pagination', href: '/components/pagination.html'},
            {label: 'Wells', href: '/components/wells.html'},
            {label: 'Breadcrumbs', href: '/components/breadcrumbs.html'},
            {label: 'Alerts', href: '/components/alerts.html'},
            {label: 'Modals', href: '/components/modals.html'},
            {label: 'Progress bars', href: '/components/progress-bars.html'},
            {label: 'Spinners', href: '/components/spinners.html'},
            {label: 'ScrollSpy', href: '/components/scroll-spy.html'},
            {label: 'Tooltips', href: '/components/tooltips.html'},
            {label: 'Popovers', href: '/components/popovers.html'},
            {label: 'Carousel', href: '/components/carousel.html'}
        ]},
        {label: 'Settings', href: '#'},
        {label: 'Help and support', href: '#'}
    ]) %}

{% block sidebars %}
<div class="sidebar sidebar-default sidebar-force-open sidebar-fixed-top sidebar-locked sidebar-full-locked sidebar-open-init"
     data-sidebar="true" data-force-toggle="true" data-locked="true" data-toggle-id="sidebar-toggle-left">
    <ul class="sidebar-menu">
        {% block sidebar_header %}
        <li class="sidebar-header">
            <img class="sidebar-header-img" src="/assets/badge_inverse.svg">
            <span class="sidebar-header-title">john.doe@example.tld</span>
        </li>
        {% endblock %}

        {% for item in sidebarItems %}
            {% if item.children %}
                <li class="sidebar-group"><span>{{ item.label }}</span>
                    <ul class="sidebar-group-menu">
                        {% for groupItem in item.children %}
                            <li class="sidebar-item"><a href="{{ groupItem.href }}"{% if groupItem.href == app.uri %} class="active"{% endif %}>{{ groupItem.label }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="sidebar-item"><a href="{{ item.href }}"{% if item.href == app.uri %} class="active"{% endif %}>{{ item.label }}</a></li>
            {% endif%}
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block body %}
<div class="container-main container-fixed-top container-force-open-left">
    <!-- NAVBAR -->
    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top affix">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="btn btn-ripple navbar-toggle btn-sidebar-toggle sidebar-locked-toggle" id="sidebar-toggle-left">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="btn-group btn-sidebar-toggle pull-right">
                    <button type="button" class="btn btn-ripple navbar-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sidebar-toggle-right">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-ripple pull-top pull-right">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>

                <a class="navbar-brand navbar-brand-switch" href="/">
                    <img class="navbar-brand-badge" src="../assets/badge_inverse.svg">
                    <img class="navbar-brand-logo" src="../assets/logo_inverse.svg">
                </a>
                <span class="navbar-title">{{ title|default('Home example') }}</span>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block container %}
    {% endblock %}
</div>
{% endblock %}
