// Button variants

// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.button-variant-outline(@color; @background; @border) {
    color: @background;
    background-color: transparent;
    border-color: @border;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle {
        color: @color;
        background-color: @background;
    }
    &:active,
    &.active,
    .open .dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: tranparent;
            border-color: @border;
        }
    }

    .badge {
        color: @color;
        background-color: @background;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        .badge {
            color: @background;
            background-color: @color;
        }
    }
}

.button-variant-outline-inverse(@color; @background; @border) {
    color: @color;
    background-color: transparent;
    border-color: @color;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle {
        color: @background;
        background-color: @color;
    }
    &:active,
    &.active,
    .open .dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: tranparent;
            border-color: @color;
        }
    }

    .badge {
        color: @background;
        background-color: @color;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        .badge {
            color: @color;
            background-color: @background;
        }
    }
}
