{% extends "examples/layout.html" %}

{% set title = 'Images' %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 demo-col">
                        <h2>Image shapes</h2>
                        <div class="demo-example">
                            <img data-src="holder.js/140x140" alt="Holder JS 140" class="img-rounded" style="width: 140px; height: 140px;">
                            <img data-src="holder.js/140x140" alt="Holder JS 140" class="img-circle" style="width: 140px; height: 140px;">
                            <img data-src="holder.js/140x140" alt="Holder JS 140" class="img-thumbnail" style="width: 140px; height: 140px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
