{% extends "examples/layout.html" %}

{% set title = 'Badges' %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Basic example</h2>
                        <div class="demo-example">
                            <a href="#">Inbox <span class="badge">42</span></a>

                            <br><br>

                            <button class="btn btn-default btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-primary btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-accent btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-success btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-info btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-warning btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-danger btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>

                            <br><br>

                            <button class="btn btn-default btn-raised btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-primary btn-raised btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-accent btn-raised btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-success btn-raised btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-info btn-raised btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-warning btn-raised btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                            <button class="btn btn-danger btn-raised btn-ripple" type="button">
                                Messages <span class="badge">4</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Adapts to active nav states</h2>
                        <div class="demo-example">
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
                                <li role="presentation"><a href="#">Profile</a></li>
                                <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
