{% extends "examples/layout.html" %}

{% set title = 'Buttons' %}

{% block container %}
<div class="container-fluid">
    <div class="row" id="demo-buttons">
        <div class="col-md-12">
            <h1>Buttons</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 demo-col">
                        <h3>Normal/Flat buttons</h3>
                        <button class="btn btn-default">Button</button>
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-accent">Accent</button>
                        <button class="btn btn-success">Success</button>
                        <button class="btn btn-info">Info</button>
                        <button class="btn btn-warning">Warning</button>
                        <button class="btn btn-danger">Danger</button>
                        <button class="btn btn-link">Link</button>
                        <div class="demo-separator"></div>
                        <button class="btn btn-default" disabled>Button</button>
                        <button class="btn btn-primary" disabled>Primary</button>
                        <button class="btn btn-accent" disabled>Accent</button>
                        <button class="btn btn-success" disabled>Success</button>
                        <button class="btn btn-info" disabled>Info</button>
                        <button class="btn btn-warning" disabled>Warning</button>
                        <button class="btn btn-danger" disabled>Danger</button>
                        <button class="btn btn-link" disabled>Link</button>
                        <h3>Normal/Flat ripple buttons</h3>
                        <button class="btn btn-default btn-ripple">Button</button>
                        <button class="btn btn-primary btn-ripple">Primary</button>
                        <button class="btn btn-accent btn-ripple">Accent</button>
                        <button class="btn btn-success btn-ripple">Success</button>
                        <button class="btn btn-info btn-ripple">Info</button>
                        <button class="btn btn-warning btn-ripple">Warning</button>
                        <button class="btn btn-danger btn-ripple">Danger</button>
                        <button class="btn btn-link btn-ripple">Link</button>
                        <div class="demo-separator"></div>
                        <button class="btn btn-default btn-ripple" disabled>Button</button>
                        <button class="btn btn-primary btn-ripple" disabled>Primary</button>
                        <button class="btn btn-accent btn-ripple" disabled>Accent</button>
                        <button class="btn btn-success btn-ripple" disabled>Success</button>
                        <button class="btn btn-info btn-ripple" disabled>Info</button>
                        <button class="btn btn-warning btn-ripple" disabled>Warning</button>
                        <button class="btn btn-danger btn-ripple" disabled>Danger</button>
                        <button class="btn btn-link btn-ripple" disabled>Link</button>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 demo-col">
                        <h3>Raised buttons</h3>
                        <button class="btn btn-raised btn-default">Button</button>
                        <button class="btn btn-raised btn-primary">Primary</button>
                        <button class="btn btn-raised btn-accent">Accent</button>
                        <button class="btn btn-raised btn-success">Success</button>
                        <button class="btn btn-raised btn-info">Info</button>
                        <button class="btn btn-raised btn-warning">Warning</button>
                        <button class="btn btn-raised btn-danger">Danger</button>
                        <button class="btn btn-raised btn-link">Link</button>
                        <div class="demo-separator"></div>
                        <button class="btn btn-raised btn-default" disabled>Button</button>
                        <button class="btn btn-raised btn-primary" disabled>Primary</button>
                        <button class="btn btn-raised btn-accent" disabled>Accent</button>
                        <button class="btn btn-raised btn-success" disabled>Success</button>
                        <button class="btn btn-raised btn-info" disabled>Info</button>
                        <button class="btn btn-raised btn-warning" disabled>Warning</button>
                        <button class="btn btn-raised btn-danger" disabled>Danger</button>
                        <button class="btn btn-raised btn-link" disabled>Link</button>
                        <h3>Raised ripple buttons</h3>
                        <button class="btn btn-raised btn-default btn-ripple">Button</button>
                        <button class="btn btn-raised btn-primary btn-ripple">Primary</button>
                        <button class="btn btn-raised btn-accent btn-ripple">Accent</button>
                        <button class="btn btn-raised btn-success btn-ripple">Success</button>
                        <button class="btn btn-raised btn-info btn-ripple">Info</button>
                        <button class="btn btn-raised btn-warning btn-ripple">Warning</button>
                        <button class="btn btn-raised btn-danger btn-ripple">Danger</button>
                        <button class="btn btn-raised btn-link btn-ripple">Link</button>
                        <div class="demo-separator"></div>
                        <button class="btn btn-raised btn-default btn-ripple" disabled>Button</button>
                        <button class="btn btn-raised btn-primary btn-ripple" disabled>Primary</button>
                        <button class="btn btn-raised btn-accent btn-ripple" disabled>Accent</button>
                        <button class="btn btn-raised btn-success btn-ripple" disabled>Success</button>
                        <button class="btn btn-raised btn-info btn-ripple" disabled>Info</button>
                        <button class="btn btn-raised btn-warning btn-ripple" disabled>Warning</button>
                        <button class="btn btn-raised btn-danger btn-ripple" disabled>Danger</button>
                        <button class="btn btn-raised btn-link btn-ripple" disabled>Link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="demo-button-groups">
        <div class="col-md-12">
            <h1>Button groups</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 demo-col">
                        <h3>Normal/Flat button groups</h3>
                        <div class="btn-group">
                            <button class="btn btn-primary">left</button>
                            <button class="btn btn-primary">Middle</button>
                            <button class="btn btn-primary">Right</button>
                        </div>
                    </div>
                    <div class="col-md-6 demo-col">
                        <h3>Normal/Flat ripple button groups</h3>
                        <div class="btn-group">
                            <button class="btn btn-accent btn-ripple">left</button>
                            <button class="btn btn-accent btn-ripple">Middle</button>
                            <button class="btn btn-accent btn-ripple">Right</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 demo-col">
                        <h3>Raised button groups</h3>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-raised">left</button>
                            <button class="btn btn-primary btn-raised">Middle</button>
                            <button class="btn btn-primary btn-raised">Right</button>
                        </div>
                    </div>
                    <div class="col-md-6 demo-col">
                        <h3>Raised ripple button groups</h3>
                        <div class="btn-group">
                            <button class="btn btn-accent btn-raised btn-ripple">left</button>
                            <button class="btn btn-accent btn-raised btn-ripple">Middle</button>
                            <button class="btn btn-accent btn-raised btn-ripple">Right</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="demo-button-sizes">
        <div class="col-md-12">
            <h1>Button groups</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 demo-col">
                        <button class="btn btn-default btn-raised btn-ripple btn-xs">Button XS</button>
                        <button class="btn btn-primary btn-raised btn-ripple btn-sm">Button SM</button>
                        <button class="btn btn-accent btn-raised btn-ripple">Button</button>
                        <button class="btn btn-warning btn-raised btn-ripple btn-lg">Button LG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
