{% extends "examples/layout.html" %}

{% set title = 'Forms' %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Basic example</h2>
                        <div class="demo-example">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control has-floating-content" id="exampleInputText" data-floating-label value="Content field">
                                    <span class="floating-bar"></span>
                                    <label for="exampleInputText">Input text with label</label>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail0" placeholder="Email address without floating label" value="john.doe@example.tld">
                                    <span class="floating-bar"></span>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control has-floating-content" id="exampleInputEmail1" data-floating-label placeholder="Email address with floating placeholder" value="john.doe@example.tld">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" data-floating-label>
                                    <span class="floating-bar"></span>
                                    <label for="exampleInputPassword1">Password with label</label>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" data-floating-label data-resizing-textarea rows="3" placeholder="Text area with floating placeholder"></textarea>
                                    <span class="floating-bar"></span>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea2" data-floating-label data-resizing-textarea rows="3"></textarea>
                                    <span class="floating-bar"></span>
                                    <label for="exampleTextarea2">Text area with floating placeholder</label>
                                </div>
                                <button type="submit" class="btn btn-default btn-raised btn-ripple">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
$(":file").filestyle();
{% endblock %}