{% extends "examples/layout.html" %}

{% set title = 'Labels' %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Example</h2>
                        <div class="demo-example">
                            <h1>Example heading <span class="label label-default">New</span></h1>
                            <h2>Example heading <span class="label label-default">New</span></h2>
                            <h3>Example heading <span class="label label-default">New</span></h3>
                            <h4>Example heading <span class="label label-default">New</span></h4>
                            <h5>Example heading <span class="label label-default">New</span></h5>
                            <h6>Example heading <span class="label label-default">New</span></h6>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Available variations</h2>
                        <div class="demo-example">
                            <span class="label label-default">Default</span>
                            <span class="label label-primary">Primary</span>
                            <span class="label label-success">Success</span>
                            <span class="label label-info">Info</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
