//
// Errors
// --------------------------------------------------


.error-wrapper {
    text-align: center;

    h1,
    h2 {
        font-family: @headings-font-family;
        font-weight: 100;
    }

    h1 {
        font-size: 180px;
        margin-bottom: 23px;
        color: @brand-primary;
        .text-longshadow(@body-bg, 50px, 7%);
    }

    h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .footer-badge {
        margin-top: 70px;
        padding-bottom: 14px;

        > img {
            height: 41px;
        }
    }
}

.error-server .error-wrapper h1 {
    color: @brand-danger;
}
