//
// Variables
// --------------------------------------------------


// Footable
// --------------------------------------------------

@footable-font-family:         "FontAwesome";
@footable-toggle-icon:         "\f054";
@footable-toggle-icon-show:    "\f078";
@footable-toggle-color:        @brand-secondary;
@footable-detail-bg:           #fcfcfc;
@footable-detail-inner-shadow: inset 0px 6px 5px -5px rgba(0, 0, 0, 0.14);
@footable-detail-name-color:   @brand-secondary;
